In [2]:
import pandas as pd
from tv_by_the_numbers import db

In [3]:
df = pd.read_csv('netflix_amazon_shows.csv')

In [4]:
df

,title,genre,premiere_date,network
0,Bosch,Detective fiction,13-Feb-15,Amazon
1,Hand of God,Psychological thriller,4-Sep-15,Amazon
2,The Man in the High Castle,Alternative history,20-Nov-15,Amazon
3,Mad Dogs,Drama,22-Jan-16,Amazon
4,Goliath,Legal drama,14-Oct-16,Amazon
...,...,...,...,...
322,Busted!,Korean language variety show,4-May-18,Netflix
323,The Break with Michelle Wolf,Late-night,27-May-18,Netflix
324,Norm Macdonald Has a Show,Talk show,14-Sep-18,Netflix
325,Patriot Act with Hasan Minhaj,Talk show,28-Oct-18,Netflix
326,The Fix,Panel show,14-Dec-18,Netflix

In [4]:
df.columns

Index(['title', 'genre', 'premiere_date', 'network'], dtype='object')

In [6]:
df.to_sql('netflix_amazon_shows', db, index = False, if_exists = 'append')

Go somewhere and do the parsing

Later, seperate the two tables

In [10]:
# db.execute('''DROP TABLE IF EXISTS netflix_amazon_shows''')
move_list = str(tuple(df.title.tolist()))
# db.execute('''CREATE TABLE amazon_netflix_shows SELECT * FROM rt_urls WHERE by_the_numbers_name IN''' + move_list)
# db.execute('''DELETE FROM rt_urls WHERE by_the_numbers_name IN ''' + move_list)

In [ ]:
tuple(df.title.tolist())